<!-- client-list.component.html -->
<div class="container mt-4">
  <h2>Clientes</h2>
  <table class="table table-striped">
    <thead class="table-dark">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Género</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies | async">
      <td>{{ company.nombre }}</td>
      <td>{{ company.apellido }}</td>
      <td>{{ company.genero }}</td>
      <td>{{ company.telefono }}</td>
      <td>
        <div class="d-flex flex-row gap-2 align-items-center">
          <a [routerLink]="['/clientes/editar', company.id]" class="btn btn-secondary btn-sm">
            <i class="bi bi-pencil"></i> <span class="d-none d-md-inline-flex ps-2">Editar</span>
          </a>
          <button (click)="deleteCompany(company.id)" class="btn btn-danger btn-sm">
            <i class="bi bi-trash"></i> <span class="d-none d-md-inline-flex ps-2">Eliminar</span>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="d-grid gap-2 d-md-block">
    <a [routerLink]="['/clientes/añadir']" class="btn" style="background-color: #3cff75; color: #000000;" href="#" role="button">
      <i class="bi bi-plus-lg"></i> Añadir cliente
    </a>
  </div>
</div>
