<section class="container-fluid" style="background-color: rgba(51,255,89,0.82);" class="text-white text-center py-5">
  <h1 style="color: black" lass="display-3">AngularGym</h1>
  <p style="color: black" class="lead">
    Bienvenidos al gimanasio de Angular, donde podrás entrenar y preparate fisicamente con nuestro equipo de profesionales.
  </p>
</section>
<!-- Sección de Características -->
<section class="container mt-5">
  <div class="row">
    <!-- Bloque 1 -->
    <div class="col-md-4 text-center mb-4">
      <div class="icon-container mb-3" style="color: #79ffa1;">
        <i class="bi bi-building" style="font-size: 4rem"></i>
      </div>
      <h3 style="color: #000000;">Instalaciones</h3>
      <p style="color: #000000;">
        Tenemos las mejores instalaciones preparadas para sacar el maximo rendimiento de ti mismo.
      </p>
    </div>

    <!-- Bloque 2 -->
    <div class="col-md-4 text-center mb-4">
      <div class="icon-container mb-3" style="color: #79ffa1;">
        <i class="bi bi-person-circle" style="font-size: 4rem"></i>
      </div>
      <h3 style="color: #000000;">Personal</h3>
      <p style="color: #000000;">
        Nuestro personal esta perfectamente cualificado y animado para asistirte en cada una de las actividades que realices.
      </p>
    </div>

    <!-- Bloque 3 -->
    <div class="col-md-4 text-center mb-4">
      <div class="icon-container mb-3" style="color: #79ffa1;">
        <i class="bi bi-gear-wide-connected" style="font-size: 4rem"></i>
      </div>
      <h3 style="color: #000000;">Personalizacion de entrenamiento</h3>
      <p style="color: #000000;">
        Cada persona es un mundo, por eso te ofrecemos un entrenamiento personalizado para que puedas alcanzar tus objetivos.
      </p>
    </div>
  </div>
</section>
